<section>
  <header>
    <nav class="navbar">
      <div class="nav-logo"><p class="navLogo">#TG</p></div>
      <ul class="nav-list">
        <li><a routerLink="/frontend">Frontend</a></li>
        <li><a routerLink="/articles">Articles</a></li>
        <li><a routerLink="/about">About</a></li>
      </ul>
      <div class="nav-buttons">
        <button id="btn-login" routerLink="/login">Login</button>
        <button id="btn-sign" routerLink="/sign">Sgin up</button>
      </div>
    </nav>
  </header>
</section>

<div class="mein-container">
  <router-outlet></router-outlet>
</div>
