.b-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
* {
  font-size: 12px;
  color: black;
}

h2{
    font-weight: 900px;
}

.signup_container {
  width: 300px;
  border-radius: 20px;
  padding: 2rem;
  background-color: rgb(243, 243, 243);
}

.signUp-div-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
input {
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid;
  background-color: rgb(243, 243, 243);
}
input:hover,
input:focus {
  border: 1px solid #4caf50;
  outline: none;
}

button {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background-color: #4caf50;
  border: none;
}
button:hover {
  border-radius: 5px;
  background-color: #306d32;
  border: none;
}
span{
  color: red;
  font-weight: bold;

}
span:hover, span:focus{
  color:black;
}
/* -------------------------- */
.loader {
  border: 2px solid #f3eded;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 20px;  /* سایز جدید */
  height: 20px; /* سایز جدید */
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }